apiVersion: v1beta1
kind: AgentConfig
metadata:
  name: {{ vsphere_upi_cluster_name }}
rendezvousIP: {{ vsphere_upi_nodes[0].ipaddr }}
hosts:
{% for node in vsphere_upi_nodes %}
  - hostname: vm{{ loop.index0 }}
    role: master
    interfaces:
      - name: ens160
        macAddress: {{ node.macaddr }}
    networkConfig:
      interfaces:
        - name: ens160
          type: ethernet
          state: up
          ipv4:
            enabled: true
            address:
              - ip: {{ node.ipaddr }}
                prefix-length: 22
            dhcp: false
      dns-resolver:
        config:
          server:
            - 10.1.196.199
      routes:
        config:
          - destination: 0.0.0.0/0
            next-hop-address: 10.1.195.254
            next-hop-interface: ens160
            table-id: 254
{% endfor %}