apiVersion: v1
baseDomain: {{ vsphere_upi_base_domain }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  replicas: 3
metadata:
  name: {{ vsphere_upi_cluster_name }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.1.192.0/22
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
platform:
  baremetal:
    hosts:
{% for node in vsphere_upi_nodes %}
      - name: vm{{ loop.index0 }}
        role: master
{% endfor %}
    apiVIP: "{{ vsphere_upi_api_vip }}"
    ingressVIP: "{{ vsphere_upi_ingress_vip }}"
pullSecret: '{{ pull_secret }}'
sshKey: '{{ ssh_key }}'
