apiVersion: v1
baseDomain: {{ vsphere_upi_base_domain }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  replicas: 3
metadata:
  name: {{ vsphere_upi_cluster_name }}
networking:
  networkType: OpenShiftSDN
  machineNetwork:
    - cidr: 10.1.192.0/22
platform:
  vsphere:
    vcenter: {{ vsphere_upi_host }}
    username: {{ vsphere_upi_username }}
    password: {{ vsphere_upi_password }}
    datacenter: {{ vsphere_upi_datacenter }}
    defaultDatastore: {{ vsphere_upi_datastore }}
    folder: {{ vsphere_upi_folder }}
pullSecret: '{{ pull_secret }}'
sshKey: '{{ ssh_key }}'
